.about{
  .heading {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 1.2rem;
  }
  .imgContainer {
    width: 100%;
    img{
      width: 100%;
    }
  }
  .aboutDesc {
    padding: 0.2rem 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
  }
}
