@import "../../../assets/css/constant.scss";

.sliderItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .tags {
    color: #c2c2c2;
    text-transform: capitalize;
    font-style: italic;
    span {
      color: white;
      font-weight: bold;
      font-style: normal;
    }
    @media only screen and (max-width: 769px){
      font-size: 12px;
    }
  }
  .title{
    font-size: 32px;
    font-family: $titleFont;
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 3rem 0;
    line-height: 50px;
    @media only screen and (max-width: 769px){
      font-size: 18px;
      width: 80%;
      line-height: 22px;
    }

  }
  .button{
    transition: all 0.2s ease;
    font-family: $regularFont;
    width: 150px;
    cursor: pointer;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      transition: all 0.2s ease;
    }
    &:hover {
      background-color: #222222;
    }
    &:hover .arrow{
      transform: translateX(5px);
    }
    @media only screen and (max-width: 769px){
      font-size: 10px;
    }
  }
}
